.body{
    width: 100%;
    min-height: 100vh;
    background: rgb(250, 238, 238);
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap:20px;
   flex: 1;
   overflow: hidden;
   margin: 2;
}
